In [1]:
import pandas as pd
import pycaret.classification as pc
import mlflow
import mlflow.sklearn
from mlflow.models.signature import infer_signature
from mlflow.tracking import MlflowClient

In [5]:
mlflow.set_tracking_uri("sqlite:///mlruns/mlruns.db")

experiment_name = 'Decision Tree Classifier'
experiment = mlflow.get_experiment_by_name(experiment_name)
if experiment is None:
    experiment_id = mlflow.create_experiment(experiment_name)
    experiment = mlflow.get_experiment(experiment_id)
experiment_id = experiment.experiment_id

In [6]:
registered_model_name = 'modelo_kobe_dt'
min_precision = 0.7
model_version = -1 # recuperar a ultima versao
nexamples = 4

kobe_target_col = 'shot_made_flag'

In [7]:
dataset_dev = pd.read_parquet('../../Data/Processed/base_test.parquet', engine='pyarrow')
dataset_prod = pd.read_parquet('../../Data/Processed/base_train.parquet', engine='pyarrow')

model_name = 'dt'
probability_threshold = 0.5
cross_validation = True
fold_strategy = 'stratifiedkfold',
fold = 10

# train/test
s = pc.setup(data = dataset_dev, 
             target = kobe_target_col,
             train_size=0.7,
             fold_strategy = 'stratifiedkfold',
             fold = fold,
             log_experiment = True, 
             experiment_name = experiment_name, 
             log_plots = True
            )
bestmodel = pc.create_model(model_name,
                            cross_validation = cross_validation, 
                            probability_threshold=probability_threshold)

# Log do run, e nao do modelo respectivo
classification_plots = [ 'auc','pr','confusion_matrix',
#                          'error', 'class_report', 
                        'threshold',
                         'learning',
                        # 'vc',
                        # 'feature',
                       ]
for plot_type in classification_plots:
    print('=> Aplicando plot ', plot_type)
    try:
        artifact = pc.plot_model(bestmodel, plot=plot_type, save=True)
        mlflow.log_artifact(artifact)
    except:
        print('=> Nao possivel plotar: ', plot_type )
        continue

pc.save_model(bestmodel, f'./{registered_model_name}') 
# Carrega novamente o pipeline + bestmodel
model_pipe = pc.load_model(f'./{registered_model_name}')


mlflow.end_run()

=> Aplicando plot  auc

=> Aplicando plot  pr

=> Aplicando plot  confusion_matrix

=> Aplicando plot  threshold

=> Aplicando plot  learning

Transformation Pipeline and Model Successfully Saved
Transformation Pipeline and Model Successfully Loaded